.advan {
  padding: 120px 0;
  &__inner {
  }

  &__title {
    text-align: center;
    font-size: var(--sectionTitle);
    margin-bottom: 92px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    width: 100%;
    margin-bottom: 100px;
  }

  &__box-img {
    margin-bottom: 40px;
  }

  &__box-p {
    font-size: 28px;
    line-height: 120%;
  }
}

@include px768 {
  .advan {
    padding: 45px 0;
    &__inner {
    }

    &__title {
      font-size: 25px;
      margin-bottom: 35px;
    }

    &__content {
      justify-content: space-around;
    }

    &__box {
      max-width: 240px;
      margin-bottom: 65px;
    }

    &__box-img {
      max-height: 65px;
      margin-bottom: 20px;
    }

    &__box-p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
