.footer {
  background: var(--blue);
  color: var(--white);
  &__inner {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-bottom: 57px;
  }

  &__menu {
    display: flex;
    gap: 74px;
    margin-bottom: 57px;
  }

  &__menu-a {
    padding: 10px;
    font-size: 30px;
    line-height: 36px;
    transition: all 0.3s ease;
    &:hover {
      color: darken(white, 20%);
    }
  }

  &__c {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 57px;
  }

  &__conf {
    display: flex;
    gap: 90px;
  }

  &__conf-a {
    font-size: 20px;
    line-height: 24px;
    transition: all 0.3s ease;

    &:hover {
      color: darken(white, 20%);
    }
  }
}
