.footer {
  background: var(--blue);
  color: var(--white);
  &__inner {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-bottom: 57px;
  }

  &__menu {
    display: flex;
    gap: 74px;
    margin-bottom: 57px;
  }

  &__menu-a {
    padding: 8px;
    font-size: 24px;
    line-height: 120%;
    transition: all 0.3s ease;
    &:hover {
      color: darken(white, 20%);
    }
  }

  &__c {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 57px;
  }

  &__conf {
    display: flex;
    gap: 90px;
  }

  &__conf-a {
    font-size: 20px;
    line-height: 24px;
    transition: all 0.3s ease;

    &:hover {
      color: darken(white, 20%);
    }
  }
}

@include px768 {
  .footer {
    &__inner {
      padding: 60px 0;
    }

    &__logo {
      max-width: 100px;
    }

    &__menu {
      gap: 40px;
    }

    &__menu-a {
      font-size: 18px;
      line-height: 22px;
      padding: 6px;
    }

    &__c {
      font-size: 14px;
      line-height: 120%;
    }

    &__conf {
      gap: 60px;
    }

    &__conf-a {
      font-size: 14px;
      line-height: 120%;
    }
  }
}
