.header {
  background: var(--blue);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 120px;
    margin-bottom: 12px;
  }

  &__burger {
    cursor: pointer;
    display: none;
    border-radius: 50%;
  }

  &__nav {
  }

  &__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }

  &__li {
  }

  &__a {
    color: var(--white);
    white-space: nowrap;
    padding: 15px;
    font-size: 20px;
    transition: all 0.3s ease;

    &:hover {
      color: darken(white, 20%);
    }
  }
}

.container {
}

.line {
  fill: none;
  stroke: var(--white);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: var(--white);
  transition: all 0.6s ease;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: var(--white);
  transition: all 0.6s ease;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: var(--white);
  transition: all 0.6s ease;
}

@include px600 {
  .header {
    &__inner {
    }

    &__logo-wrap {
    }

    &__logo {
    }

    &__burger {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 101;
    }

    &__nav {
      background: var(--pink);
      transition: all 0.5s ease;
      position: absolute;
      top: 0%;
      right: -100%;
      width: 100%;
      height: 100vh;
      transition: all 0.5s ease;
      overflow: auto;
    }

    &__ul {
      margin-top: 50px;
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      gap: 40px;
    }

    &__li {
    }

    &__a {
      font-size: 26px;
    }
  }

  .container {
  }

  .header__nav-active {
    position: absolute;
    top: 0%;
    right: 0%;
    transition: all 0.5s ease;
  }
}
