.home {
  padding-top: 120px;

  &__inner {
  }

  &__text {
    text-align: center;
    margin-bottom: 71px;
  }

  &__title {
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: -0.02em;
    margin-bottom: 26px;
  }

  &__p {
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: -0.02em;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-left {
    background: url("../img/homeleft.jpg") center/cover no-repeat;
    max-width: 670px;
    width: 100%;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-btn {
    margin-top: 180px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -0.015em;
    padding: 30px 120px;
    background: var(--white);
    border-radius: 50px;
  }

  &__content-right {
    background: url("../img/homeright.png") center/cover no-repeat;
    max-width: 670px;
    width: 100%;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
