.how {
  padding: 120px 0 20px 0;
  background: url("../img/bghow.png") center/cover no-repeat;
  &__inner {
  }

  &__title {
    text-align: center;
    margin-bottom: 83px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 100%;
  }

  &__left-p {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 100px;
    max-width: 500px;
    &:nth-child(2) {
      margin: auto;
      margin-bottom: 100px;
    }
    &:nth-child(3) {
      margin-left: auto;
    }
  }

  &__left-p-span {
    background: var(--pink05);
    padding: 6px 8px;
    border-radius: 30px;
  }

  &__right {
  }

  &__right-img {
  }
}

@include px768 {
  .how {
    padding: 60px 0;
    &__inner {
    }

    &__title {
      font-size: 40px;
    }

    &__content {
    }

    &__left {
    }

    &__left-p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 60px;
    }

    &__left-p-span {
    }
  }
}
