.join {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
  }

  &__left {
  }

  &__left-img {
    max-width: 532px;
  }

  &__right {
    max-width: 670px;
  }

  &__right-p {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 25px;
  }

  &__right-btn {
    display: inline-block;
    padding: 30px 60px;
    border-radius: 50px;
    background: var(--black);
    color: var(--white);
    font-size: 28px;
    margin-top: 20px;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(42, 42, 42);
    }
  }
}
