.plus {
  padding: 100px 0;
  background: #fff url("../img/bgplus.png") center/contain no-repeat;
  &__inner {
  }

  &__title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 111px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

  &__left {
    position: relative;
    padding: 80px 40px;
    background: rgba(64, 230, 178, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 50px;
    max-width: 512px;
  }

  &__box {
  }

  &__box-title {
    font-weight: 600;
    font-size: 45px;

    text-align: center;
    margin-bottom: 30px;
  }

  &__box-p {
    font-size: 35px;
    line-height: 42px;

    margin-bottom: 25px;
  }

  &__right {
    position: relative;
    padding: 80px 40px;
    background: rgba(231, 91, 196, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 50px;
    max-width: 512px;
  }
}
