<section class="advan" id="advan">
  <div class="container">
    <div class="advan__inner">
      <h1 class="advan__title">Преимущества</h1>
      <div class="advan__content">
        <div class="advan__box">
          <img src="img/1.png" alt="" class="advan__box-img" />
          <p class="advan__box-p">
            Мы тщательно отбираем людей, которые присоединяются к сервису
          </p>
        </div>
        <div class="advan__box">
          <img src="img/2.png" alt="" class="advan__box-img" />
          <p class="advan__box-p">
            Сохранность личных данных: посторонние не увидят вашу анкету
          </p>
        </div>
        <div class="advan__box">
          <img src="img/3.png" alt="" class="advan__box-img" />
          <p class="advan__box-p">
            Предоставляем комфортные условия для общения с людьми
          </p>
        </div>
        <div class="advan__box">
          <img src="img/4.png" alt="" class="advan__box-img" />
          <p class="advan__box-p">
            Создаем благоприятную среду для комфорного поиска жилья
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
