<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <img src="img/logo.png" alt="" class="footer__logo" />
      <div class="footer__menu">
        <a href="#" class="footer__menu-a">Поддержка</a>
        <a href="#" class="footer__menu-a">Частые вопросы</a>
        <a href="#" class="footer__menu-a">Контакты</a>
        <a href="#" class="footer__menu-a">Сдать</a>
        <a href="#" class="footer__menu-a">Снять</a>
      </div>
      <div class="footer__c">© 2022 Nookee Inc.</div>
      <div class="footer__conf">
        <a href="#" class="footer__conf-a">Конфиденциальность</a>
        <a href="#" class="footer__conf-a">Условия соглашения пользователей</a>
        <a href="#" class="footer__conf-a">Правила сообщества</a>
      </div>
    </div>
  </div>
</footer>
