<section class="home">
  <div class="container">
    <div class="home__inner">
      <div class="home__text">
        <h1 class="home__title">Раз-де-ляй жилье и найди свой уголок</h1>
        <p class="home__p">Flat sharing platform</p>
      </div>
      <div class="home__content">
        <div class="home__content-left">
          <button class="home__content-btn">Сдать</button>
        </div>
        <div class="home__content-right">
          <button class="home__content-btn">Снять</button>
        </div>
      </div>
    </div>
  </div>
</section>