<section class="how">
  <div class="container">
    <div class="how__inner">
      <h1 class="how__title">Как работает сервис</h1>
      <div class="how__content">
        <div class="how__left">
          <p class="how__left-p">
            На старте пользователь
            <span class="how__left-p-span">Nookee</span> заполняет анкету с
            ключевыми пожеланиями по аренде жилья и информацией о себе.
          </p>
          <p class="how__left-p">
            Анкета
            <span class="how__left-p-span">поможет не тратить время</span>на
            общение с юзерами, интересы которых не совпадают с вашими.
          </p>
          <p class="how__left-p">
            Доступен
            <span class="how__left-p-span">свободный выбор, </span>
            кто будет видеть вашу анкету и сможет вам написать. Фильтры помогут
            подобрать вам соседа по профессии, хобби и т.д.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
