<section class="how">
  <div class="container">
    <div class="how__inner">
      <h1 class="how__title">Как работает сервис</h1>
      <div class="how__content">
        <div class="how__left">
          <p class="how__left-p">
            На старте каждый пользователь
            <span class="how__left-p-span">Nookee</span> должен заполнить анкету
            с ключевыми пожеланиями по аренде жилья и информацией о себе.
          </p>
          <p class="how__left-p">
            Анкета поможет
            <span class="how__left-p-span">не тратить время на общение</span> с
            пользователями, которые хотят снимать квартиру на другом конце
            города или располагают меньшим бюджетом на аренду
          </p>
          <p class="how__left-p">
            Также на этом этапе <span class="how__left-p-span">вы решаете, кто будет видеть вашу анкету</span> и
            сможет вам написать. Например, если вы отметите, что хотите жить
            только с девушкой — пользователи мужского пола не смогут увидеть
            вашу анкету в результатах поиска.
          </p>
          <p class="how__left-p">
            Кроме того, каждому пользователю доступен поиск по дополнительным
            фильтрам. Так вы сможете <span class="how__left-p-span">найти человека</span> по профессии, хобби,
            навыкам, предпочтениям в еде и другим параметрам. Вам останется
            только написать тем, кто понравится.
          </p>
        </div>
        <div class="how__right">
          <img src="img/how.png" alt="" class="how__right-img" />
        </div>
      </div>
    </div>
  </div>
</section>
