<section class="join">
  <div class="container">
    <div class="join__inner">
      <div class="join__left">
        <img src="img/join.png" alt="" class="join__left-img" />
      </div>
      <div class="join__right">
        <p class="join__right-p">
          Регистрируйся, и тебе будет доступна база анкет пользователей, которые
          уже используют Nookee.
        </p>
        <p class="join__right-p">
          Бесплатная регистрация. Твой уютный уголок и соседи уже ждут тебя!
        </p>
        <a href="#" class="join__right-btn">Присоединиться</a>
      </div>
    </div>
  </div>
</section>
