<section class="platform" id="platform">
  <div class="container">
    <div class="platform__inner">
      <h1 class="platform__title">О платформе</h1>
      <div class="platform__content">
        <div class="platform__left">
          <p class="platform__p1">
            <span class="platform__p1-span">Nookee</span>
            — онлайн-сообщество для поиска соседей и квартир с целью совместной
            аренды жилья.
          </p>
          <p class="platform__p2">
            Мы объединяем людей, которые хотят быстро и безопасно снимать и
            сдавать квартиры или комнаты с людьми, максимально похожими на них
            по образу жизни и роду деятельности.
          </p>
          <p class="platform__p3">
            Данный формат будет интересен: студентам и молодым предпренимателям,
            которые приехали покорять большие города, а также тем, кто в
            постоянном движении и в поисках нового!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
