<section class="plus">
  <div class="container">
    <div class="plus__inner">
      <h1 class="plus__title">Плюсы flat sharing</h1>
      <div class="plus__content">
        <div class="plus__left">
          <div class="plus__box">
            <img src="img/plus-left.png" alt="" class="plus__box-img-left">
            <h3 class="plus__box-title">Сдать</h3>
            <p class="plus__box-p">В надежные руки <br> проверенных людей</p>
            <p class="plus__box-p">Быстрее, ведь люди находят <br> себе соседей сами</p>
          </div>
        </div>
        <div class="plus__right">
          <div class="plus__box">
            <img src="img/plus-right.png" alt="" class="plus__box-img-right">
            <h3 class="plus__box-title">Снять</h3>
            <p class="plus__box-p">Дешевле, ведь общая <br> стоимость делится</p>
            <p class="plus__box-p">И жить в хорошей комании <br> интересных людей</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>