<section class="price">
  <div class="container">
    <div class="price__inner">
      <h1 class="price__title">Стоимость</h1>
      <div class="price__card">
        <h3 class="price__card-title">Тариф базовый</h3>
        <div class="price__card-content">
          <ul class="price__card-ul">
            <li class="price__card-li">
              Вечная возможность <br />
              использования сервиса
            </li>
            <li class="price__card-li">Доступ к базе данных портала</li>
            <li class="price__card-li">Открыты доп.фильтры при поиске</li>
          </ul>
          <div class="price__card-price">1.990₽</div>
        </div>
      </div>
    </div>
  </div>
</section>
