// COLORS
:root {
  --blue: #0717e6;
  --white: #ffffff;
  --black: #171a1f;
  --pink: #e75bc4;
  --green: #40e6b2;
  --green05: rgba(64, 230, 178, 0.5);
  --pink05: rgba(231, 91, 196, 0.5);
  --blue05: rgba(7, 23, 230, 0.5);

  //margins
  --mb20: 20px;

  // fonts
  --sectionTitle: 60px;
  --sectionSubtitle: 40px;

  --title: 24px;
  --text: 20px;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}
